[Unit]
Description=Main STEEM script startup
After=network.target

[Service]
WorkingDirectory="/home/$USER"
ExecStart="/home/$USER/firstTimeMiningInstall/EZSTEEM.sh"
Restart=always

[Install]
WantedBy=multi-user.target
